.test {
  color: #FFF;
  .test {
    color: #FFF;
    .test {
      color: #FFF;
      .test {
        color: #FFF;
        .test {
          color: #FFF;
          .test {
            color: #FFF;
            .test {
              color: #FFF;

            }
          }
        }
      }
    }
  }
}
